[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "uvicorn app.main:app --port=8080 --reload"
reqs = "pipenv requirements > requirements.txt"

[packages]
openai = "*"
zenpy = "*"
mwclient = "*"
mwparserfromhell = "*"
pandas = "*"
tiktoken = "*"
jupyter = "*"
numpy = "*"
pinecone-client = "*"
tqdm = "*"
spatial = "*"
scipy = "*"
black = {extras = ["d"], version = "*"}
nbconvert = "*"
fastapi = "*"
uvicorn = "*"
pylint = "*"
httpie = "*"

[dev-packages]

[requires]
python_version = "3.10"
