[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "uvicorn app.main:api --port=8080 --reload"
debug = "uvicorn app.main:api--port=8080 --reload --log-level=debug"
reqs = "cmd /C 'pipenv requirements > requirements.txt'"
env-sync = "cmd /C 'doppler secrets download --no-file --format env > .env'"
reqs-unix = "sh -c 'pipenv requirements > requirements.txt'"
env-sync-unix = "sh -c 'doppler secrets download --no-file --format env > .env'"

[packages]
openai = "*"
zenpy = "*"
mwclient = "*"
mwparserfromhell = "*"
pandas = "*"
tiktoken = "*"
jupyter = "*"
numpy = "*"
pinecone-client = "*"
tqdm = "*"
spatial = "*"
scipy = "*"
black = {extras = ["d"], version = "*"}
nbconvert = "*"
fastapi = "*"
uvicorn = "*"
pylint = "*"
httpie = "*"
matplotlib = "*"
plotly = "*"
scikit-learn = "*"
slack-bolt = "*"
slack = "*"
tabulate = "*"
python-dotenv = "*"
redis = "*"
sqlalchemy = "*"
mysqlclient = "*"
sqlacodegen = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.10"
