[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "uvicorn app.main:api --port=8080 --reload"
debug = "uvicorn app.main:api--port=8080 --reload --log-level=debug"
reqs = "cmd /C 'pipenv requirements > requirements.txt'"
env-sync = "cmd /C 'doppler secrets download --no-file --format env > .env'"
env-sync-docker = "cmd /C 'doppler secrets download --no-file --format env > .env.docker'"
reqs-unix = "sh -c 'pipenv requirements > requirements.txt'"
env-sync-unix = "sh -c 'doppler secrets download --no-file --format env > .env'"
celery = "sh -c 'celery -A app.worker worker --loglevel=info --logfile=app/logs/celery.log'"
flower = "sh -c 'celery -A app.worker --broker=redis://localhost:6379/0 flower --port=5555'"
doppler-ephemeral-token = "sh -c 'export DOPPLER_TOKEN=\"$(doppler configs tokens create dev --plain --max-age 1m)\"'"
doppler-service-token = "sh -c 'export DOPPLER_SERVICE_TOKEN=\"$(doppler configs tokens create --project deskflow-backend --config dev worker-dev-token --plain --max-age 1m)\"'"

[packages]
openai = "*"
zenpy = "*"
pandas = "*"
tiktoken = "*"
jupyter = "*"
numpy = "*"
pinecone-client = "*"
tqdm = "*"
spatial = "*"
scipy = "*"
black = {extras = ["d"], version = "*"}
nbconvert = "*"
fastapi = "*"
uvicorn = "*"
pylint = "*"
httpie = "*"
matplotlib = "*"
plotly = "*"
scikit-learn = "*"
slack-bolt = "*"
slack = "*"
tabulate = "*"
python-dotenv = "*"
redis = "*"
jupyterlab = "*"
prisma = "*"
pyright = "*"
celery = "*"
flower = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
